<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href=".../static/signup.css" rel="stylesheet">
  </head>

  <body class="text-center">
  {% if Method == 'GET' %}
    <form class="form-signin" method ="post">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">注册</h1>
      <label for="inputEmail" class="sr-only">请邮箱地址</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="请输入你的邮箱地址" name="email" required autofocus>
      <label for="inputPassword" class="sr-only">密码</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="请输入你的密码" name="password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      <p>有账号了?<a href="../sign_in">登陆</a></p>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  {% else %}
    {% if email %}
      {{email}} regist is success!
      <br>
      <a href="http://127.0.0.1:8000/account/sign_in">login</a>
    {% else %}
      {{registJudge}} is exist!
      <br>
      <a href="http://127.0.0.1:8000/account/sign_up">regist</a>
    {% endif %}
  </body>
</html>
